[project]
	description = Ansible role for MySQL
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Vivekanandan Mahadevan (anandanvivopenstack)
[access "refs/for/refs/*"]
	read = group user/Vivekanandan Mahadevan (anandanvivopenstack)
	push = group user/Vivekanandan Mahadevan (anandanvivopenstack)
	label-Code-Review = -2..+2 group user/Vivekanandan Mahadevan (anandanvivopenstack)
	label-Verified = -1..+1 group user/Vivekanandan Mahadevan (anandanvivopenstack)
	rebase = group user/Vivekanandan Mahadevan (anandanvivopenstack)
	removeReviewer = group user/Vivekanandan Mahadevan (anandanvivopenstack)
	submit = group user/Vivekanandan Mahadevan (anandanvivopenstack)
[access "refs/heads/*"]
	read = group user/Vivekanandan Mahadevan (anandanvivopenstack)
	create = group user/Vivekanandan Mahadevan (anandanvivopenstack)
	push = +force group user/Vivekanandan Mahadevan (anandanvivopenstack)
	pushMerge = group user/Vivekanandan Mahadevan (anandanvivopenstack)
[access "refs/tags/*"]
	push = +force group user/Vivekanandan Mahadevan (anandanvivopenstack)
	pushTag = group user/Vivekanandan Mahadevan (anandanvivopenstack)
	pushSignedTag = group user/Vivekanandan Mahadevan (anandanvivopenstack)
